/* highlights.org css importálása - https://cdnjs.com/libraries/highlight.js */
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/styles/ir-black.min.css");

body{
  margin: 0;
  padding: 0;
}

#root {
  padding: 30px 300px;
  background-color: rgb(204, 228, 166);
}

.rule, h1, h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 1px 1px 2px rgb(11, 43, 5);
}

.rule {
  font-size: 22px;
}

h1, h2 {
  text-align: center;
  padding: 30px;
}

h1, pre {
  margin: 10px 0 30px 0;
}

code {
  font-size: larger;
}